/* line 1, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
#header {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 4, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
#header .header-title {
  width: 500px;
  float: left;
}
/* line 7, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
#header .header-title h1 {
  line-height: 60px;
  font-size: 30px;
  margin-left: 20px;
}
/* line 13, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
#header .header-menu {
  width: 500px;
  float: right;
  text-align: right;
}
/* line 17, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
#header .header-menu a {
  line-height: 60px;
  font-size: 20px;
  margin-right: 20px;
}

/* line 24, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
.search {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 10px;
}
/* line 28, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
.search .left-info {
  float: left;
  width: 300px;
  padding: 10px;
}
/* line 33, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
.search .right-info {
  padding: 10px;
}

/* line 37, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
.cards {
  height: calc(100vh - 310px);
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  padding-top: 10px;
  overflow: auto;
  -ms-overflow-style: none;
}
/* line 44, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
.cards::-webkit-scrollbar {
  display: none;
}
/* line 47, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
.cards .card {
  float: left;
  margin-left: 14px;
}
/* line 50, /Users/yuuki/projects/novablitz/app/assets/stylesheets/cards.scss */
.cards .card img {
  width: 150px;
}
/* line 1, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body {
  background: url("NB-Banner-1500-Med.jpg") no-repeat center center;
  background-size: cover;
}
/* line 4, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body::before {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
/* line 13, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body #wrapper {
  color: white;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 100vh;
}
/* line 19, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body #wrapper #top-header {
  height: 300px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
/* line 24, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body #wrapper #top-header h1 {
  line-height: 100px;
  font-size: 100px;
  padding-top: 50px;
}
/* line 29, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body #wrapper #top-header p {
  font-size: 20px;
}
/* line 33, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body #wrapper #main {
  text-align: center;
}
/* line 36, /Users/yuuki/projects/novablitz/app/assets/stylesheets/informations.scss */
body #wrapper #main #menu li {
  font-size: 50px;
  font-weight: bold;
}
/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
/* line 12, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
html {
  color: #000;
  background: #FFF;
}

/*
    TODO remove settings on BODY since we can't namespace it.
*/
/*
    TODO test putting a class on HEAD.
        - Fails on FF.
*/
/* line 24, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* line 52, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
fieldset,
img {
  border: 0;
}

/*
    TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
/* line 63, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

/* line 76, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 81, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
caption,
th {
  text-align: left;
}

/* line 85, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 94, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
q:before,
q:after {
  content: '';
}

/* line 98, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
/* line 104, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
sup {
  vertical-align: text-top;
}

/* line 107, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 110, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
/* line 118, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
/* line 124, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
/* line 128, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/* line 131, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
a:link {
  color: white;
  text-decoration: none;
}
/* line 132, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
a:visited {
  color: white;
  text-decoration: none;
}
/* line 133, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
a:hover {
  color: white;
  text-decoration: none;
}
/* line 134, /Users/yuuki/projects/novablitz/app/assets/stylesheets/reset.scss */
a:active {
  color: white;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

