header{
}
.header-image{
  border-top: 5px solid #ff0000;
  height: 150px;
  background: image-url("NB-Banner-1500-Med.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 30px;
}
