#main
  .container.information
    .title  お知らせ
    %p 本サイトはノリと勢いで作成した「NovaBlitz」の日本語情報サイトです。
    %p 現在は日本語訳のあるカードリスト機能を作成中です。今後の予定は未定ですが、デッキを作成してシェアしたりできる機能があったら良いなと考えています。欲しい機能があれば Twitterアカウント(@_torike)までお気軽にリプライを飛ばしてください。
    .title メニュー
    %ul
      %li
        = link_to "カード一覧（日本語訳あり）" , cards_path
