.card-info.popup
  .card-info__image
    =image_tag "https://d1u5p3l4wpay3k.cloudfront.net/novablitz_gamepedia/thumb/5/5c/Ancient_Egg%28101251%29.png/200px-Ancient_Egg%28101251%29.png?version=6194c1683147a5960448b850ef4a67d6"
  .card-info-right
    .card-info-right__name
      %p Ancient Egg
    .card-info-right__aspect
      %p Aspect：
    .card-info-right__type
      %p Type：Unit
    .card-info-right__sub-type
      %p Race：ゴブリン
    .card-info-right__text
      %p Last Breath: デッキの一番上にあるユニットをエリアに出す。
    .button-wrapper
      %button.close
        %span
          CLOSE
