- set_meta_tags title: "Card Lists (カード一覧 日本語)"
#main
  = render partial: "card-info"
  .search
    .left-info
      .aspects
        %p Aspect
        %ul.aspect
          %li.arcane Arcane
          %li.chaos Chaos
          %li.divine Divine
          %li.nature Nature
          %li.tech Tech
          %li.all.is_active ALL
    .right-info
      %table
        %tr.keyword
          %td.name
            カード名
          %td
            %input#search-field{type: "text", placeholder: 'カード名で検索'}/
        %tr.sub_type
          %td.name
            種族
          %td
            %input.search-sub-type{type: "text", placeholder: '種族で検索'}/
        %tr.type
          %td.name
            タイプ
          %td
            %span.all.is_active ALL
            %span Unit
            %span Power
        %tr.cost
          %td.name
            コスト
          %td
            %span.all.is_active ALL
            %span 1
            %span 2
            %span 3
            %span 4
            %span 5
            %span 6
            %span 7
            %span 8
            %span 9
            %span 10
        %tr.rarity
          %td.name
            レアリティ
          %td
            %span.all.is_active ALL
            %span Common
            %span Rare
            %span Epic
            %span Legendary
  .cards
    %ul#search-result
      = render partial: "card", collection: @cards
