#main
  .container
    .row
      .col-lg-8
        .article
          %h1.title
            = @post.title
          .meta
            = set_time(@post.updated_at)
          .content
            = md_to_html(@post.text)
      .col-lg-4
        .side-menu
