.cards{
  min-width: 1000px !important;
  .container{

  }
}

.search{
  width: 1000px;
  height: 244px;
  background-color: black;
  margin: 0 auto;
  .left-info{
    float: left;
    width: 320px;
    padding: 10px;
    .is_active{
      color: #ff0000;
      border: 1px solid #ff0000 !important;
    }
    .aspects{
      p{
        text-align: center;
      }
      .aspect{
        li{
          box-sizing: border-box;
          border: 1px solid white;
          height: 90px;
          width: 90px;
          float: left;
          line-height: 90px;
          text-align: center;
          margin: 5px;
          &:hover{
            color: #ff0000;
            border-color: #ff0000;
          }
        }
        .arcane{
          background-color: rgba(148,46,253,0.3);
        }
        .chaos{
          background-color: rgba(217,77,44,0.3);
        }
        .divine{
          background-color: rgba(255,255,0,0.5);
        }
        .nature{
          background-color: rgba(123,205,7,0.3);
        }
        .tech{
          background-color: rgba(173,174,173,0.3);
        }
      }
    }
  }
  .right-info{
    padding: 10px;
    .is_active{
      color: #ff0000;
    }
    span+ span{
      border-left: 1px solid white;
      margin-left: 10px;
      padding-left: 15px;
    }
    span:hover{
      color: #ff0000;
      text-decoration: underline;
    }
    tr{
      height: 35px;
      .name{
        width: 100px;
        padding-right: 10px;
        &::after{
          content:":";
          float: right;
        }
      }
    }
  }
}
.cards-result{
  background-color: black;
  height: auto;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 10px;
  overflow: hidden;
  .card{
    float: left;
    margin-left: 14px;
    background-color: black !important;
    img{
      width: 150px;
    }
    &:hover{
      opacity: 0.5;
      z-index: 2;
    }
  }
}
