#editor{
  textarea{
    width: 100%;
    // float: left;
  }
  .preview{
    width: 49%;
    height: 100%;
    float: right;
    background-color: white;
    color: black;
    padding: 10px;
    word-wrap: break-word;
  }
}
