.information{
  background-color: black;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  .title{
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 20px;
    margin-bottom: 20px;
  }
  ul{
    font-size: 30px;
  }
}
