%header
  .container
    .header-title
      %h1
        = link_to "Let's Play NovaBlitz", root_path
    %nav
      %ul
        %li
          = link_to 'CARDS', cards_path
          = link_to 'DECK BUILDER(作成中)', ''
          / = link_to 'このサイトについて', ''
.header-image
