%header
  .container
    %nav.navbar.navbar-expand-sm.navbar-dark
      .header-title.navbar-brand
        = link_to "Let's Play NovaBlitz", root_path
      %button.navbar-toggler{'data-toggle' => 'collapse', 'data-target' => '#menu'}
        %span.navbar-toggler-icon
      #menu.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            = link_to 'CARDS', cards_path, class:'nav-link'
          / %li
          /   = link_to 'DECK BUILDER(作成中)', ''
          %li.nav-item
            - if !user_signed_in?
              = link_to 'ログイン', new_user_session_path, class:'nav-link'
            - if user_signed_in?
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'nav-link'
.header-image
